.idea
.var
.sass-cache
.js
.jvm
.history
logs/
project/project
target
.classpath
.project
.settings
node_modules
brainburner.conf
localhost.localdomain.conf
ecs/config/prod.json
ecs/config/stage.json
ecs/config/prod-key-secret
ecs/config/test-key-secret
bin/ssl/key-secret

npm-debug.log
out